<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meatball.api.ykt.dao.RechargeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.meatball.api.ykt.model.RechargeRecord" >
    <id column="b_id" property="bId" jdbcType="BIGINT" />
    <result column="i_payType" property="iPaytype" jdbcType="INTEGER" />
    <result column="v_payName" property="vPayname" jdbcType="VARCHAR" />
    <result column="v_orderId" property="vOrderid" jdbcType="VARCHAR" />
    <result column="b_accountId" property="bAccountid" jdbcType="BIGINT" />
    <result column="v_accountName" property="vAccountname" jdbcType="VARCHAR" />
    <result column="i_dealType" property="iDealtype" jdbcType="INTEGER" />
    <result column="v_dealName" property="vDealname" jdbcType="VARCHAR" />
    <result column="d_balance" property="dBalance" jdbcType="DECIMAL" />
    <result column="i_dealStatus" property="iDealstatus" jdbcType="INTEGER" />
    <result column="t_dealTime" property="tDealtime" jdbcType="TIMESTAMP" />
    <result column="v_machineId" property="vMachineid" jdbcType="VARCHAR" />
    <result column="v_operator" property="vOperator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    b_id, i_payType, v_payName, v_orderId, b_accountId, v_accountName, i_dealType, v_dealName, 
    d_balance, i_dealStatus, t_dealTime, v_machineId, v_operator
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_recharge_record
    where b_id = #{bId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_recharge_record
    where b_id = #{bId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.meatball.api.ykt.model.RechargeRecord" >
  <!--<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="bId">
  		SELECT LAST_INSERT_ID() AS b_id
  	</selectKey>-->
    insert into t_recharge_record (b_id, i_payType, v_payName, 
      v_orderId, b_accountId, v_accountName, 
      i_dealType, v_dealName, d_balance, 
      i_dealStatus, t_dealTime, v_machineId, 
      v_operator)
    values (#{bId,jdbcType=BIGINT}, #{iPaytype,jdbcType=INTEGER}, #{vPayname,jdbcType=VARCHAR}, 
      #{vOrderid,jdbcType=VARCHAR}, #{bAccountid,jdbcType=BIGINT}, #{vAccountname,jdbcType=VARCHAR}, 
      #{iDealtype,jdbcType=INTEGER}, #{vDealname,jdbcType=VARCHAR}, #{dBalance,jdbcType=DECIMAL}, 
      #{iDealstatus,jdbcType=INTEGER}, #{tDealtime,jdbcType=TIMESTAMP}, #{vMachineid,jdbcType=VARCHAR}, 
      #{vOperator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.meatball.api.ykt.model.RechargeRecord" >
  <!--<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="bId">
  		SELECT LAST_INSERT_ID() AS b_id
  	</selectKey>-->
    insert into t_recharge_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bId != null" >
        b_id,
      </if>
      <if test="iPaytype != null" >
        i_payType,
      </if>
      <if test="vPayname != null" >
        v_payName,
      </if>
      <if test="vOrderid != null" >
        v_orderId,
      </if>
      <if test="bAccountid != null" >
        b_accountId,
      </if>
      <if test="vAccountname != null" >
        v_accountName,
      </if>
      <if test="iDealtype != null" >
        i_dealType,
      </if>
      <if test="vDealname != null" >
        v_dealName,
      </if>
      <if test="dBalance != null" >
        d_balance,
      </if>
      <if test="iDealstatus != null" >
        i_dealStatus,
      </if>
      <if test="tDealtime != null" >
        t_dealTime,
      </if>
      <if test="vMachineid != null" >
        v_machineId,
      </if>
      <if test="vOperator != null" >
        v_operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bId != null" >
        #{bId,jdbcType=BIGINT},
      </if>
      <if test="iPaytype != null" >
        #{iPaytype,jdbcType=INTEGER},
      </if>
      <if test="vPayname != null" >
        #{vPayname,jdbcType=VARCHAR},
      </if>
      <if test="vOrderid != null" >
        #{vOrderid,jdbcType=VARCHAR},
      </if>
      <if test="bAccountid != null" >
        #{bAccountid,jdbcType=BIGINT},
      </if>
      <if test="vAccountname != null" >
        #{vAccountname,jdbcType=VARCHAR},
      </if>
      <if test="iDealtype != null" >
        #{iDealtype,jdbcType=INTEGER},
      </if>
      <if test="vDealname != null" >
        #{vDealname,jdbcType=VARCHAR},
      </if>
      <if test="dBalance != null" >
        #{dBalance,jdbcType=DECIMAL},
      </if>
      <if test="iDealstatus != null" >
        #{iDealstatus,jdbcType=INTEGER},
      </if>
      <if test="tDealtime != null" >
        #{tDealtime,jdbcType=TIMESTAMP},
      </if>
      <if test="vMachineid != null" >
        #{vMachineid,jdbcType=VARCHAR},
      </if>
      <if test="vOperator != null" >
        #{vOperator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meatball.api.ykt.model.RechargeRecord" >
    update t_recharge_record
    <set >
      <if test="iPaytype != null" >
        i_payType = #{iPaytype,jdbcType=INTEGER},
      </if>
      <if test="vPayname != null" >
        v_payName = #{vPayname,jdbcType=VARCHAR},
      </if>
      <if test="vOrderid != null" >
        v_orderId = #{vOrderid,jdbcType=VARCHAR},
      </if>
      <if test="bAccountid != null" >
        b_accountId = #{bAccountid,jdbcType=BIGINT},
      </if>
      <if test="vAccountname != null" >
        v_accountName = #{vAccountname,jdbcType=VARCHAR},
      </if>
      <if test="iDealtype != null" >
        i_dealType = #{iDealtype,jdbcType=INTEGER},
      </if>
      <if test="vDealname != null" >
        v_dealName = #{vDealname,jdbcType=VARCHAR},
      </if>
      <if test="dBalance != null" >
        d_balance = #{dBalance,jdbcType=DECIMAL},
      </if>
      <if test="iDealstatus != null" >
        i_dealStatus = #{iDealstatus,jdbcType=INTEGER},
      </if>
      <if test="tDealtime != null" >
        t_dealTime = #{tDealtime,jdbcType=TIMESTAMP},
      </if>
      <if test="vMachineid != null" >
        v_machineId = #{vMachineid,jdbcType=VARCHAR},
      </if>
      <if test="vOperator != null" >
        v_operator = #{vOperator,jdbcType=VARCHAR},
      </if>
    </set>
    where b_id = #{bId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meatball.api.ykt.model.RechargeRecord" >
    update t_recharge_record
    set i_payType = #{iPaytype,jdbcType=INTEGER},
      v_payName = #{vPayname,jdbcType=VARCHAR},
      v_orderId = #{vOrderid,jdbcType=VARCHAR},
      b_accountId = #{bAccountid,jdbcType=BIGINT},
      v_accountName = #{vAccountname,jdbcType=VARCHAR},
      i_dealType = #{iDealtype,jdbcType=INTEGER},
      v_dealName = #{vDealname,jdbcType=VARCHAR},
      d_balance = #{dBalance,jdbcType=DECIMAL},
      i_dealStatus = #{iDealstatus,jdbcType=INTEGER},
      t_dealTime = #{tDealtime,jdbcType=TIMESTAMP},
      v_machineId = #{vMachineid,jdbcType=VARCHAR},
      v_operator = #{vOperator,jdbcType=VARCHAR}
    where b_id = #{bId,jdbcType=BIGINT}
  </update>
  
  <select id="selectSuccessRechargeRecord" resultMap="BaseResultMap" parameterType="java.lang.Long" >
  
  select 
    <include refid="Base_Column_List" />
    from t_recharge_record
    where b_id = #{bId,jdbcType=BIGINT}
   and i_dealStatus = 0
  </select>
  
  <select id="selectBAccountid" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_recharge_record
    where b_accountId = #{bAccountid,jdbcType=BIGINT}
  </select>
  
</mapper>